/*div {*/
    /*border: 1px solid Chocolate;*/
/*}*/

.coverpage {
  background-image: url("../images/testcricket1.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 40rem; 

}

.question{
	max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 10em;
    position:relative;
    padding-bottom: 2em;
    
}

.overlay {
	position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(255,255,255, 0.3);
    z-index:9999;
    
}

h2{
	text-align: center;
	font-family:'Ropa Sans', bold;
	color:greenyellow;
	
}

.answers{
	max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top:0em;
    font-family:'Ropa Sans';
    color:greenyellow;

}

ul{
	list-style-type: none;
}

li{
	margin-bottom: 1em;
	font-size: large;
}

.button{
	position:relative;
	left:25%;
	width:5em;
	background-color: black;
	margin-top: 2em;
	
}

